body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Header */
header {
  background: #080808;
  color: #fcf9f9;
  padding: 20px 0;
  text-align: center;
  border-bottom: #f16405 3px solid;
}

header a {
  color: #fdfcfc;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

header li {
  display: inline;
  list-style: none;
}

header #branding {
  padding: 0;
  text-align: center;
}

header #branding h1 {
  margin: 0;
  font-size: 30px;
}

header nav {
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header .highlight,
header .current a {
  color: #d85307;
  border-radius: 5px;
}

header a:hover {
  background: #555;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #070707;
  color: rgb(253, 250, 250);
  padding: 15px;
  margin-top: 30px;
}

/* Form Inputs */
#newsletter form input[type="email"],
.quote input,
.quote textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}