body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Global */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  border-bottom: #f1e105 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
  transition: background 0.3s ease;
}

header li {
  display: inline-block;
  margin: 0 10px;
}

header #branding {
  margin-bottom: 10px;
}

header #branding h1 {
  margin: 0;
  font-size: 32px;
}

header nav {
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #f1e105;
  font-weight: bold;
}

header a:hover {
  background: #575757;
  border-radius: 4px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}