/* Tổng thể body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #94ec91;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: #1e88e5;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
  